<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
		<df_payment>
			<spryng>
				<actionForNew>authorize_capture</actionForNew>
				<actionForReturned>authorize_capture</actionForReturned>
				<requireBillingAddress>1</requireBillingAddress>
				<currency>EUR</currency>
				<prefill>4024007108173153</prefill>
				<title>Bank Card</title>
				<title_backend>Spryng</title_backend>
			</spryng>
		</df_payment>
        <payment>
            <dfe_spryng>
				<model>Dfe\Spryng\Method</model>
            </dfe_spryng>
        </payment>
    </default>
</config>