<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
	<system>
		<section id='df_payment'>
<!-- 2015-09-25, 2017-10-22
Magento 2 is not capable to automatically order settings groups
in the backend «Stores» → «Configuration» left menu by alphabet.
To achieve such ordering, I use the following 2 rules to assign a `sortOrder` value to a settings group:
1) The 1-st and 2-nd digits of a `sortOrder` value
are the digits of the ordering number of the 1-st letter of the module's label in the English alphabet:
https://en.wikipedia.org/wiki/English_alphabet
2) The 3-rd and 4-nd digits of a `sortOrder` value
are the digits of the ordering number of the 2-nd letter of the module's label in the English alphabet.
===
An example:
A label is «Stripe».
The first letter is «S». It is the 19-nd letter of the English alphabet.
The second letter is «t». It is the 20-nd letter of the English alphabet.
So the `sortOrder` value is 1920. -->
			<group
				id='spryng'
				showInDefault='1' showInStore='1' showInWebsite='1'
				sortOrder='1916'
				translate='label'
			>
				<label>Spryng</label>
				<dfExtension>Dfe_Spryng</dfExtension>
				<frontend_model>Df\Config\Fieldset</frontend_model>
				<field
					id='enable'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='1'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Enable?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[Enable the «<a href='https://mage2.pro/c/extensions/spryng' target='_blank'>Spryng</a>» payment extension?]]></comment>
				</field>
				<field
					id='title'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='2'
					translate='label'
					type='text'
				>
					<label>Title</label>
					<comment><![CDATA[It is shown on the checkout screen.]]></comment>
					<depends><field id='enable'>1</field></depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='test'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='3'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Sandbox Mode?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[<a href='https://mage2.pro/t/2758' target='_blank'>Where is the Sandbox merchant interface located?</a>]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='testPrivateKey'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='5'
					translate='label'
					type='obscure'
				>
					<label>Test API Key</label>
					<comment><![CDATA[<ul class='df-note'><li><a href='https://mage2.pro/t/2764' target='_blank'>Where is the API Key located?</a></li><li><a href='https://mage2.pro/t/2758' target='_blank'>Where is the Sandbox merchant interface located?</a></li></ul>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='testAccount'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='6'
					translate='label'
					type='select'
				>
					<label>Test Account</label>
					<source_model>Dfe\Spryng\Source\Account</source_model>
					<comment><![CDATA[]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
				<field
					id='prefill'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='7'
					translate='label'
					type='select'
				>
					<label>Bank Card Number</label>
					<source_model>Dfe\Spryng\Source\Prefill</source_model>
					<comment><![CDATA[<a href='https://mage2.pro/t/2759' target='_blank'>The test bank cards </a>.]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
						<field id='test3DS'>0</field>
					</depends>
				</field>
				<field
					id='livePrivateKey'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='8'
					translate='label'
					type='obscure'
				>
					<label>Live API Key</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/2764' target='_blank'>How to get it?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='liveAccount'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='9'
					translate='label'
					type='select'
				>
					<label>Live Account</label>
					<source_model>Dfe\Spryng\Source\Account</source_model>
					<comment><![CDATA[]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
				<field
					id='actionForNew'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='10'
					translate='label'
					type='select'
				>
					<label>Payment Action for a New Customer</label>
					<source_model>Df\Payment\Source\ACR</source_model>
					<comment><![CDATA[A customer is regarded as <b>new</b>, if he does not have any order in the «Completed» or «Processing» state.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='actionForReturned'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='11'
					translate='label'
					type='select'
				>
					<label>Payment Action for a Returned Customer</label>
					<source_model>Df\Payment\Source\ACR</source_model>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='dsd'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='12'
					translate='label'
					type='text'
				>
					<label>Dynamic statement descripor</label>
					<comment><![CDATA[An arbitrary string to be displayed <a href='https://stripe.com/blog/dynamic-descriptors' target='_blank' title='A blog article from the Stripe website.'>on your customer's bank card statement</a>.
<br/>This may be up to <b>22</b> characters, may not include <b><>"'</b> characters, and will appear on your customer's statement in capital letters.
<br/>Non-ASCII characters are automatically stripped.]]></comment>
					<depends><field id='enable'>1</field></depends>
					<validate>validate-length maximum-length-22</validate>
				</field>
				<field
					id='requireBillingAddress'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='13'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Require the billing address?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[If <b>checked</b>, Magento will require the billing address. It is the default Magento behavior.<br/>If <b>unchecked</b>, Magento will not require the billing address, and even will not ask for it.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='min_order_total'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='14'
					translate='label'
					type='text'
				>
					<label>Minimum Order Total</label>
					<comment><![CDATA[]]></comment>
					<validate>validate-number validate-greater-than-zero</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='max_order_total'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='15'
					translate='label'
					type='text'
				>
					<label>Maximum Order Total</label>
					<comment><![CDATA[]]></comment>
					<validate>validate-number validate-greater-than-zero</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='country_restriction'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='16'
					translate='label'
					type='select'
				>
					<label>Country Restriction</label>
					<source_model>Df\Config\Source\NoWhiteBlack</source_model>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='countries'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='17'
					translate='label'
					type='Df\Framework\Form\Element\Multiselect'
				>
					<label>Countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<can_be_empty>1</can_be_empty>
					<depends>
						<field id='enable'>1</field>
<!--
2016-03-08
«The negative syntax for a backend config field <depends> condition»
https://mage2.pro/t/329
-->
						<field id='country_restriction' negative='1'>0</field>
					</depends>
					<comment><![CDATA[Customers from which countries can (or can not) use the method?]]></comment>
				</field>
			</group>
		</section>
	</system>
</config>